.container {
  justify-content: center;
  align-content: center;
  text-align: center;
  margin: 10% 35% 35%;
  padding: 2% 2% 2% 2%;
  border: solid black 1px;
  border-radius: 10px;
}

.formStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
